
.div-direction{
    background-image: url('https://final-yael.s3.amazonaws.com/biroCatBackgroundBig.png');
    background-size: cover;
    height: 100vh;
    margin: auto;
    background-repeat: no-repeat;
    padding-right: 20px;
}

@media screen and (max-width: 600px){
    .div-direction{
        background-repeat: repeat-y;
        background-size: auto;
    }
}